.jsform {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e4e5;
    overflow-x: auto;
    padding: 5px;
    clear:right;
    margin: 1px 0 24px 0;
}

.jsform .help-block {
    display: none;
}

button.coderunner {
    float: right;
    display: block;
    margin-bottom: 8px;
}

.clearboth {
    clear: both;
    display: block;
}
